<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" href="/static/img/logo.png">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="nav">
      <div class="nav__body"><a class="logo" href="#">
          <svg class="logo__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path d="M0,0V256H256V0ZM113.72,135c0,22.05-12.62,38.13-42.5,38.13s-42.64-16.08-42.64-38V82.9H55.81v51.28c0,8.5,4.38,15.27,15.41,15.27s15.27-6.77,15.27-15.27V82.9h27.23Zm82.09,36.53L179.6,144.4l-16.2,27.1H131.79l29.62-45.43L133.78,82.9h31.48l14.34,25.24L193.68,82.9h31.75l-27.63,43,29.62,45.56Z"></path>
          </svg>
          <div class="logo__wordmark">drops</div></a>
        <div class="nav-mobile__button">
          <div class="nav-mobile__button-line"></div>
          <div class="nav-mobile__button-line"></div>
          <div class="nav-mobile__button-line"></div>
        </div>
        <ul class="nav__menu">
          <li class="nav__item">
            <button class="nav__link">Tools</button>
          </li>
          <li class="nav__item">
            <button class="nav__link">Books</button>
          </li>
          <li class="nav__item">
            <button class="nav__link">Websites</button>
          </li>
          <li class="nav__item">
            <button class="nav__link">People</button>
          </li>
          <li class="nav__item">
            <button class="nav__link">Articles</button>
          </li>
          <li class="nav__item">
            <button class="nav__link nav__link--alt">+ Submit a resource</button>
          </li>
        </ul>
      </div>
    </div>{{content}}
  </body>
  <script src="/static/js/main.js"></script>
</html>