//---------------------------------------
// Components: List
//---------------------------------------

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
   width: 100%;
   max-width: 100%;
  }
}

@include breakpoint(sm) {
  .list {
    &__item {
      max-width: 48%;
    }
  }
}

@include breakpoint(lg) {
  .list {
    &__item {
      max-width: 30%;
    }
  }
}