//---------------------------------------
// Abstracts: Type
//---------------------------------------

// Font

$font-stack: 'Muli', Arial, sans-serif !default;

// Sizing

$base-font-size: 1.6rem !default;

$text-size-giga:		5.4rem !default; // 54px
$text-size-alpha: 	2.8rem !default; // 28px
$text-size-beta: 		2.2rem !default; // 22px
$text-size-gamma: 	1.8rem !default; // 18px
$text-size-delta: 	1.6rem !default; // 16px
$text-size-epsilon: 1.4rem !default; // 14px
$text-size-zeta: 		1.2rem !default; // 12px

$text-weight-regular: 400	!default;
$text-weight-bold: 		700 !default;
$text-weight-black: 	900 !default;

// Line height

$line-height-1: 1.3 !default; // set on h1-h3
$line-height-2: 1.4 !default; // set on h4-h6
$line-height-3: 1.6 !default; // default line-height set on the body

// Line heights specific to forms, buttons and tags.
$line-height-form:       1.5rem  !default;
$line-height-form-small: 1.25rem !default;

// Disabled opacity for buttons, forms, pagination
$opacity-disabled: .3 !default;