---
title: Curated UX Resources
description: A collection of 

layout: base
---

.content
  .container
    .row
      .col.col__12
        h1 {{page.title}}
        h2.lead.u-t--gray-500 {{page.description}} 
          a(href="{{ site.baseurl }}/tools") tools
          | , 
          a(href="{{ site.baseurl }}/books") books
          | , 
          a(href="{{ site.baseurl }}/books") webites
          | , 
          a(href="{{ site.baseurl }}/people") people
          | , and 
          a(href="{{ site.baseurl }}/books") articles
    .row
      .col.col__12
        h3.u-t--primary Tools
        ul.list
          | {%- assign tools = site.tools | sort: 'date' | reverse %} 
          | {%- for item in tools limit:3 %}
          li.list__item
            a.list__link.card(href="{{ item.link }}" target="_blank")
              .card__body
                img.card__img(src="{{ item.image }}" width="100%")
              .card__footer
                .card__title {{item.title}}
          | {%- endfor %}
          li.list__item
            a.list__link.card.card--cta(href="{{ site.baseurl }}/tools")
              .card__body
                img.card__img(src="static/img/tools.svg" width="100%") 
                .card__title Latest UX Tools
              .card__footer
                .card__text View the whole list
    .row
      .col.col__12
        h3.u-t--primary Books
        ul.list
          | {%- assign books = site.books | sort: 'date' | reverse %} 
          | {%- for item in books limit:3 %}
          li.list__item
            a.list__link.card(href="{{ item.link }}" target="_blank")
              .card__body
                img.card__img(src="{{ item.image }}" width="100%")
                .card__title {{item.title}}
              .card__footer
                .card__text by {{item.author}}
          | {%- endfor %}
          li.list__item
            a.list__link.card.card--cta(href="{{ site.baseurl }}/books")
              .card__body
                img.card__img(src="static/img/books.svg" width="100%") 
                .card__title Latest UX Books
              .card__footer
                .card__text View the whole list
    .row
      .col.col__12
        h3.u-t--primary Websites
        ul.list
          | {%- assign books = site.books | sort: 'date' | reverse %} 
          | {%- for item in books limit:3 %}
          li.list__item
            a.list__link.card(href="{{ item.link }}" target="_blank")
              .card__body
                img.card__img(src="{{ item.image }}" width="100%")
                .card__title {{item.title}}
              .card__footer
                .card__text by {{item.author}}
          | {%- endfor %}
          li.list__item
            a.list__link.card.card--cta(href="{{ site.baseurl }}/books")
              .card__body
                img.card__img(src="static/img/websites.svg" width="100%") 
                .card__title Latest UX Books
              .card__footer
                .card__text View the whole list
    .row
      .col.col__12
        h3.u-t--primary People
        ul.list
          | {%- assign people = site.people | sort: 'date' | reverse %} 
          | {%- for item in people limit:3 %}
          li.list__item
            a.list__link.card(href="{{ item.link }}" target="_blank")
              .card__body
                img.card__img(src="{{ item.image }}" width="100%")
                .card__title {{item.title}}
              .card__footer
                .card__text {{ item.date | date: "%B %-d %Y" }}
          | {%- endfor %}
          li.list__item
            a.list__link.card.card--cta(href="{{ site.baseurl }}/people")
              .card__body
                img.card__img(src="static/img/people.svg" width="100%") 
                .card__title Latest People in UX
              .card__footer
                .card__text View the whole list
    .row
      .col.col__12
        h3.u-t--primary Articles
        ul.list
          | {%- assign books = site.books | sort: 'date' | reverse %} 
          | {%- for item in books limit:3 %}
          li.list__item
            a.list__link.card(href="{{ item.link }}" target="_blank")
              .card__body
                img.card__img(src="{{ item.image }}" width="100%")
                .card__title {{item.title}}
              .card__footer
                .card__text by {{item.author}}
          | {%- endfor %}
          li.list__item
            a.list__link.card.card--cta(href="{{ site.baseurl }}/books")
              .card__body
                img.card__img(src="static/img/articles.svg" width="100%") 
                .card__title Latest UX Articles
              .card__footer
                .card__text View the whole list