---
title: Curated UX Resources
description: A collection of [loop here]

layout: base
---

.content
  .container
    .row
      .col.col__12
        h1 {{page.title}}
        h2.lead.u-t--gray-500 {{page.description}}
  .row
    .col.col__12
      h3.u-t--primary Books